body{
    background-color: darksalmon;
 text-align: center;
}

h1{
    font-weight: bold;
    color:darkslategrey;
}

#apps{
    background-color: darkseagreen;
    padding: 20px;
}

#Games{
    background-color: paleturquoise;
    padding: 20px;
}

#chatbot{
    background-color: lightgreen;
    padding: 20px;
}